/** Clarity (http://clarity.design) (at the moment of writing) does not have an auto-complete/combobox component. 
ng-select is currently one of the more popular angular2/4 packages for adding auto-complete components to an angular project. 
This style sheet allows anyone to use ng-select in a angular+clarity project that uses clarity forms. 
To get these styles applied to your ng-select component, declare your form component as follows: 
<form clrForm> 
<clr-input-container> 
<label>Foo</label> 
<ng-select clrInput [items]="exampleItems">
</ng-select> 
</clr-input-container> 
</form> */
.ng-select ng-select {
  padding: 0;
  height: auto;
  max-height: none;
}

.ng-select .clr-input-wrapper {
  max-height: none;
}

  .ng-select .clr-input-wrapper clr-icon {
    position: absolute;
    right: -8px;
    top: 0;
  }

.ng-select .ng-value-container .ng-value {
  border-radius: 10px;
  padding: 0 4px;
  margin: 1px 2px;
  line-height: 22px;
  max-height: 22px;
}

.ng-select .ng-value-container .ng-value-icon {
  margin-right: 4px;
  margin-left: 8px;
  display: inline-block;
}

  .ng-select .ng-value-container .ng-value-icon:first-of-type {
    margin-left: 0;
  }

.ng-select .ng-select-multiple .ng-value-container .ng-value {
  color: rgba(255, 255, 255, 0.87);
  background: #3f51b5;
  padding: 0 8px;
}

.ng-select .ng-select-multiple .ng-input input {
  padding: 0 0 0 4px;
}

.ng-select .ng-clear-wrapper {
  text-align: center;
  margin-top: 2px;
}

.dark-theme .ng-select input, .dark-theme .ng-select .ng-value, .dark-theme .ng-select .ng-clear-wrapper {
  color: rgba(255, 255, 255, 0.87);
}

.dark-theme .ng-select-multiple .ng-value-container .ng-value {
  background: rgba(255, 255, 255, 0.87);
}

.ng-dropdown-panel {
  background: #fff;
  left: 0;
  min-width: 200px;
  width: auto !important;
}

  .ng-dropdown-panel.ng-select-bottom {
    top: calc(100%);
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .ng-dropdown-panel.ng-select-top {
    bottom: calc(100% - .84375em);
    box-shadow: 0 -5px 5px -3px rgba(0, 0, 0, .2), 0 -8px 10px 1px rgba(0, 0, 0, .14), 0 -3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .ng-dropdown-panel.multiple .ng-option.selected {
    background: #fff;
  }

  .ng-dropdown-panel.multiple .ng-option.marked {
    background: rgba(0, 0, 0, .04);
  }

  .ng-dropdown-panel .ng-dropdown-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding: 0 16px;
    line-height: 3em;
    min-height: 3em;
  }

  .ng-dropdown-panel .ng-dropdown-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    padding: 0 16px;
    line-height: 3em;
    min-height: 3em;
  }

  .ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup {
    user-select: none;
    cursor: pointer;
    line-height: 3em;
    height: 3em;
    padding: 0 16px;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 500;
  }

    .ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-marked {
      background: rgba(0, 0, 0, .04);
    }

    .ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-disabled {
      cursor: default;
    }

    .ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-selected {
      background: rgba(0, 0, 0, 0.12);
      color: #3f51b5;
    }

  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    line-height: 3em;
    min-height: 3em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 16px;
    text-decoration: none;
    position: relative;
    color: rgba(0, 0, 0, 0.87);
    text-align: left;
  }

    .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
      background: rgba(0, 0, 0, .04);
      color: rgba(0, 0, 0, 0.87);
    }

    .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
      background: rgba(0, 0, 0, 0.12);
      color: #3f51b5;
    }

    .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-disabled {
      color: rgba(0, 0, 0, 0.38);
    }

    .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-child {
      padding-left: 32px;
    }

    .ng-dropdown-panel .ng-dropdown-panel-items .ng-option .ng-tag-label {
      padding-right: 5px;
      font-size: 80%;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.38);
    }


/* My Stuff */
.ng-select.ng-select-disabled .ng-select-container .ng-value-container .ng-placeholder {
  color: rgba(0, 0, 0, 0.38)
}

.ng-select.ng-select-disabled .ng-select-container .ng-value-container .ng-placeholder {
  color: rgba(0, 0, 0, 0.38)
}

ng-select .ng-has-value .ng-placeholder,
.ng-select.ng-select-filtered .ng-select-container .ng-placeholder {
  display: initial
}

.ng-select .ng-has-value .ng-placeholder,
.ng-select.ng-select-opened .ng-placeholder {
  transform: translateY(-1.28125em) scale(0.75) perspective(100px) translateZ(0.001px)
}

.ng-select .ng-select-container .ng-value-container .ng-placeholder {
  position: absolute;
  color: rgba(0, 0, 0, 0.54);
  transform-origin: 0 0;
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1)
}

/* border */
.ng-select {
  border-bottom: 1px solid #9a9a9a;
  padding: 0 .25rem;
}


/*Other stuff*/
.ng-select {
  min-width: 162px;
}

clr-input-container .ng-select {
  display: inline-block;
}

  clr-input-container .ng-select + .clr-validate-icon {
    margin-left: 0;
    margin-bottom: 8px;
  }
